body {
    margin: 0;
}
body * {
    box-sizing: border-box;
}/**/
.header {
    background-color: black;

}

.header_container {
    height: 83px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    color: rgb(227, 184, 115);
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin: 0 -5% 0 10%;
}
.header__ul {
    display: flex;
    justify-content: space-evenly;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    list-style: none;
    margin: 0;
    /**/
}
.header__ul li {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    margin-right: 47px;
}
.header__li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header__li a:hover {
    color: #E3B873;
}
.li_item a {
    color: #E3B873;
}
.number {
    color: #E3B873;
    font-size: 11px;
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 15px;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
    margin-right: -5%;
}
.number:hover {
    color:#fad59a;
}
.header_btn {
    margin-right: 10%;
}
.button {
    border: 0;
    color: white;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    background-color: #E3B873;
    width: 10%;
    height: 50%;/**/
    cursor: pointer;
}
.button:hover {
    background-color: #dda750;
}
.title {
    margin: 0;
    font-family: Yeseva One;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
}
span {
    color:#E3B873;
}
.home_container {
    width: 30%;/**/
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 18%;
    position: relative;
    z-index: 2;
    padding-top: 194px;
    height: 707px;
}
.home {
    height: 707px;
    background-image: url("images/PNG/background1.jpg");
    background-size: cover;
    position: relative;
}
.home::before {
    position: absolute;
    z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 707px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .7);
    /**/
}
.main__text {
    font-family: Nunito Sans;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.main__container_button {
    display: flex;
    justify-content: space-between;
    width: 434px;
    height: 50px;
    /*border: solid;*/
}
.main__button {
    border: 0;
    color: white;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.3);
    background-color: #E3B873;
    width: 50%;
    height: auto;/**/
    cursor: pointer;
    margin-right: 5%;
}
.main__button:hover {
    background-color: #dda750;
}
.white {
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 50%;
    height: auto;
    margin: 0;
    box-shadow: none;
}
.white:hover {
    background-color: #ffffff13;
}
.info {
    height: 1074px;
    width: 100%;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*border: 1px solid #27f7d4;*/
}
.container__block {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*border: 1px solid #2799f7;*/
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 9%;
    padding-left: 7%;
    width: 40%;
    height: 47%;
    /*border: 1px solid rgb(158, 138, 49);*/
}
h2 {
    color: #E3B873;
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    width: 45%;
    /*border: solid green;*/
}
.info__text {
    color:#FFFFFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    width: 95%;
    /*border: 1px solid rgb(0, 255, 0);*/
}
.section__list {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    padding-left: 0;
    list-style: none;
    /*border: 1px solid hotpink;*/
}
.section__list ul {
    padding-bottom: 10%;
    width: 70%;
    /*border: 1px solid rgb(35, 86, 180);*/
}
.section__list_li {
    width: 40%;
    /*border: 1px solid rgb(241, 211, 41);*/
}
.section__list_subtitle {
    padding-left: 0;
}
.section__list_subtitle li{
    list-style: none;
    color:#FFFFFF;
    font-family: Nunito Sans;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    width: 90%;
   /*border: solid 1px #00ffea;*/
}
.slide_construction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 50%;
    padding: 0;
    margin: 0;
    /*border: solid 1px #86ec82;*/
}
.arrow {
    background: none;
    border: 0;
    width: 100%;
    height: 30%;
    
}
.left {
    width: 50%;
    background-image: url("images/SVG/arrow_left.svg");
    background-position: center;
    background-repeat: no-repeat;
    /*border: solid 1px #9982ec;*/
}
.right {
    width: 50%;
    background-image: url("images/SVG/arrow_right.svg");
    background-position: center;
    background-repeat: no-repeat;
    /*border: solid 1px #9982ec;*/
}

.dots_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0;
    /*border: 1px solid white;*/
}

.img-groups {
    background-color: #FFFFFF4D;
    transition: background-color 0.4s;
    width: 12px;
    height: 12px;
    margin-bottom: 3%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}/**/
.img-groups:hover {
    background-color: #ffffff8c;
}
.img-groups.active {
    background-color: #ffffff;
}/**/

.list_chairs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    width: 60%;
    height: 53%;
    /*border: solid 1px rebeccapurple;*/
}
.media__mobile {
    display: none;
}
.city_list {
    width: 100%;
    margin-left: 2%;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    justify-content: space-evenly;
    /*border: solid 1px #66ff00;*/
}
.city_list-text{
    color: #FFFFFF4D;
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}
.city_list-text.active {
    color:#E3B873;
    text-decoration: 1px underline;
    text-underline-offset: 10px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;/**/
    position: relative;
    width: 648px;
    height: 482px;
    
}
.slider .image.active/**/ {
    opacity: 1;
}
.image {
background-size: cover;
background-position: center center;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
opacity: 0;
transition: opacity 800ms ease;
}

.arrow .active {
    background: #000000;
}
.construction {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
    
}
